
*.meta
GameDesignProtoype/Library/PackageCache/com.unity.cinemachine@2.6.10/Samples~/Nested Timeline Scrub Bubble/CinemachineTimelineEditorExtensions/TimelineEditorExtensions/TimelineEditorExtensions.asmref.meta
*.log
